html {
	font-size: 16px;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #E5D6A0;

}

h1 {
	text-align: center;
	color: #E5D6A0;
	text-shadow: 2px 2px 1px black;
}

#banner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
	border-bottom: solid black 2px;
}


