<!doctype html>
<html lang="en">
	<head>
		<meta charset='utf-8' />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel='stylesheet' type='text/css' href='assets/style.css'>
		<script src="assets/banner.js"></script>
		{% block head %}{% endblock %}
	</head>

	<body onresize='drawBanner();'>
		{% block header %}
		<header>
			<h1 id="title">Matthew D. Cooper</h1>
			<canvas id="banner"></canvas>
			<script defer>drawBanner();</script>
		</header>
		{% endblock %}

		{% block nav %}
		<nav id="nav">
			<ul>
				<li></li>
			</ul>
		</nav>
		{% endblock %}

		{% block content %}{% endblock %}

	</body>
</html>
